.works {
    flex-grow: 1;
  }
  
.works h1 {
    margin-bottom: 20px;
  }
.toppart{
  padding-right: 65%;
  float: right;
}
.toppart2{
  padding-right: 65%;
  float: right;
}
.toppart3{
  padding-right: 69.5%;
  float: right;
}
@media (min-width: 800px) {
  .company img{
    width: 7%;
    height: auto;
  } 
}